.img{
  width: 300px;
  display: inline;
  padding-right: 15px;
}

body {
    background-color:#f4f4f4;
    margin-top: 0px;
    color: #7c7c7e;
  }

.navcolor {
  background-color: #24243c;
}

#latlabel{
  background-color: #878a90;
  color: white;
}

.colorblock{
  border-radius: 5px;
  background: #c2c2c6;
  padding: 20px;
}

.PictContainer img:hover{
  outline: 3px black solid;
}

.headerfont{
  font-family: 'Source Serif Pro', serif;
  color: #24243c;
}

p{
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #24243c;
}

.navtext{
  background-color: #878a90;
    color: white;
}

.vizcolor{
  color: white;
}

@media (max-width: 480px) {
.navcolor2 {
    background: black;
  }
#navselect{
  visibility: hidden;
}